/* using this property allows padding and border to be included in the width and height the browser renders*/
* {
    box-sizing: border-box;
  }

  /*Setting font styling for h1,p etc. */
  h1 {
    font-family: 'Readex Pro', sans-serif;
    color: #1A1D24;;
    font-size: 2em;
  }

  h2, h3, h4 {
  	font-family: 'Readex Pro', sans-serif;
    color: #1A1D24;;
  }
  h3, h4, p, a, label {
    font-family: 'Karla', sans-serif;
  }

  
/*body will occupy 100% of the page width and will have a white background*/
body {
    margin:0;
    padding:0;
    width: 100%;
    background-color: white;
}
  
#register-body {
	background-color: rgba(19, 193, 172, 0.4);
}

#main-header {
	margin: 0;
	padding: 0;
	width: 25%;
	position: fixed;
  	height: 100%;
  	overflow: auto;
  	background-color: #eceff1;
}

#register-header {
    display: flex;
    align-items: center;
    width:100%;
    padding: 20px 10px;
}

#register-header h1 {
	color: white;
}

#vertical-navbar ul {
	margin: 45px 0 0 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
}

#vertical-navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
}

#vertical-navbar li a.active {
  background-color: #13c1ac;
  color: white;
}

#vertical-navbar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#page-content {
	margin-left: 25%;
	padding: 1px 16px;
}

  /*targeting ID of h1 used in the header which is called #logo and adjusting the style*/
#logo {
  float: left;
  font-size: 25px;
  text-align:left;
  margin:0;
  padding-left: 7px;
  line-height:50px;
  color: #13c1ac;
  white-space: nowrap;
  font-family: 'Readex Pro', sans-serif;
 }

/*------------------------Login page--------------------------------*/


.form-container {
    align-items: center;
    background-color: #eceff1;
    width: 700px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.form {
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* input fields */
  .form input[type=text], .form input[type=password], .form input[type=email] {
    width: 500px;
    display: inline-block;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #ddd;
  }

  /* When the inputs get focus, do something */
  .form input[type=text]:focus, .form input[type=password]:focus, .form input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container h1 {
  	color: #13c1ac;
  }
 
  .form-container .left {
  	padding: 0 30px;
  	text-align: left;
  }
  
  .form-container button {
  	padding: 5px;
  	width: 170px;
  	height: 40px;
  	border: 3px solid #13c1ac;
  	border-radius: 2px;
  }
  
 .form-container button:hover {
	text-decoration:underline; 
}
  
 #adminButton {
  	color: white;
  	background-color: #13c1ac;
  }
  
  
  
#clientButton {
  	color: #13c1ac;
  }

  #create-user {
      align-items: center;
      margin-top: 30px;
      text-align: center;
  }

  .error-message {
    text-align: center;
    color: #E0041D;
  }
 
/*------------------------Transactions page--------------------------------*/

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  max-width: 60px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #555;
  color: white;
  border: none;
}

.number {
	text-align: right;
}

/*------------------------User Management--------------------------------*/


/* table displaying the users and for user management */
table th i {
    margin: 0 5px;
    cursor: pointer;
}

table th, table td {
	font-family: Arial, Helvetica, sans-serif;
}

table td {
	vertical-align: top;
	overflow: hidden;
}

table .small-row {
	width: 8%;
}

table .big-row {
	width: 25%;
}

table td a {
	cursor: pointer;
    display: inline-block;
    margin: 0 5px;
	min-width: 24px;
}  

table td a.edit {
	color: #FFC107;
}
    
table td a.delete {
	color: #E34724;
}

table td i {
	font-size: 19px;
}
	
table td a.add i {
	font-size: 24px;
	margin-right: -1px;
	position: relative;
	top: 3px;
}

table .form-control {
	height: 32px;
	line-height: 32px;
	box-shadow: none;
	border-radius: 2px;
}

table .form-control.error {
	border-color: #f50000;
}

/* Modal */

.background-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  border-radius: 15px;
  width: 350px;
  height: 550px;
  font-family: Roboto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  display: block;
}

.products {
	width: 500px;
	height: 800px;
}

.modal span {
  float: right;
  color: #6d9773;
  font-size: 25px;
  font-weight: lighter;
  margin: 20px 15px 0 0;
}

.modal h3 {
	margin-left: 30px;
}

.modal hr {
  border: 1px solid white;
  box-shadow: 0 2px 3px 0px rgba(144, 144, 144, 0.25);
}

.modal form {
	padding-left: 10%;
}

.modal form input[type=text], .modal select, .modal form input[type="number"] {
	width: 90%;
	height: 35px;
	border: 2px solid #dddddd;
	box-shadow: none;
	padding: 0 8px;
	border-radius: 2px;
}

.modal form input[type=text]:read-only{
	background-color: #dddddd;
	color: #838383;
}

.modal form input:focus, 
.modal select:focus, 
.modal textarea:focus {
	outline: none !important;
}

.modal textarea {
	width: 90%;
	height: 100px;
	resize: none;
	border: 2px solid #dddddd;
	box-shadow: none;
	padding: 0 8px;
	border-radius: 2px;
}

.modal form input[type="submit"] {
   	color: white;
    width: 150px;
    height: 35px;
    background-color:#13c1ac;
    border: none;
    border-radius: 2px;
}

.modal form input[type="submit"]:hover{
	cursor: pointer;
}


/*------------------------My Account page--------------------------------*/


.manage-btn {
  position: relative;
  left: -160px;
  top: 100px;
}

.unsub {
  position: relative;
  left: 170px;
  top: 50px;
}

.unsub .btn:hover {
  background-color: #da1414;
}


#textarea {
  width: 500px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
}

#textarea:focus {
  background-color: #ddd;
  outline: none;
}