<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Second-Hand Shop | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Karla&family=Readex+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
    
    <header id="main-header">
    	<h1 id="logo">Second-Hand Administration</h1>
	    <div id="vertical-navbar">
	        <ul>
	        	<li> <a class="active" href="index">Dashboard</a></li>
	        	<li> <a href="manage-users">Manage Users</a> </li>
	        	<li> <a href="manage-products">Manage Products</a> </li>
	        	<li> <a href="transactions">Check Transactions</a> </li>
	        	<li> <a href="/logout-user">Log out</a> </li>
	        </ul> 
	    </div>
    </header>
    
    <div id="page-content">
    	<h1>TEST</h1>
    
    </div>
  </body>
</html>