<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Karla&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="style/style.css" />
  </head>

  <body id="register-body">
     <div class="form-container">
     	<h1>Second-Hand Administration</h1>
        <h2>Log in</h2>
          <form class="form" th:action="@{/login-user}" method="post">
              <div> <label for="email">Email</label>
                <br>
               <input type="email" placeholder="Enter Email" name="email" required id="email"></div>


              <div ><label for="password">Password</label>
                <br>
              <input type="password" placeholder="Enter Password" name="password" required id="password"></div>

              <div><input type="submit" value="Log in" class="btn"/></div>

          </form>
          <div id="create-user">
             <p>Don't have an Account?</p> <a href="../register">Sign up</a>
          </div>
      </div>
  </body>
</html>