<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Create Account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Karla&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="style/style.css">
  </head>

  <body id="register-body">
    <div class="form-container">
        <h1>Second-Hand Administration</h1>
        <h2>Sign Up</h2>
          <form class="form" th:action="@{/create-user}" th:object="${user}" method="post">
            <div>
              <label for="email">Email:</label>
              <br>
              <input type="email" name="email" required>
            </div>

            <div>
              <label for="password">Password: </label>
              <br>
              <input type="password" name="password" required>
            </div>
            <div>
              <label for="name">Name: </label>
              <br>
              <input type="text" name="name" required>
            </div>

            <div>
              <label for="surname">Surname: </label>
              <br>
              <input type="text" name="surname" required>
            </div>

            <div>
              <label for="city">City of Residence: </label>
              <br>
              <input type="text" name="city" required>
            </div>
            
            <input type="hidden" name="administrator" value="true">

            <div><input type="submit" value="Create User" class="btn"></div>
          </form>
          <div id="create-user">
             <p>Already have a user?</p> <a href="../login">Log in</a>
          </div>
          
      </div>
  </body>
</html>
