<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Second-Hand Shop | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Karla&family=Readex+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style/style.css">
  </head>
    
    <header id="main-header">
    	<h1 id="logo">Second-Hand Administration</h1>
	    <div id="vertical-navbar">
	        <ul>
	        	<li> <a href="index">Dashboard</a></li>
	        	<li> <a href="manage-users">Manage Users</a> </li>
	        	<li> <a href="manage-products">Manage Products</a> </li>
	        	<li> <a class="active" href="transactions">Check Transactions</a> </li>
	        	<li> <a href="login">Log out</a> </li>
	        </ul> 
	    </div>
    </header>
    
    <div id="page-content">
    	<h1>Transactions</h1>
    	<table>
	    	<tr>
	    		<th>Transaction ID</th>
	    		<th>Data and Time</th>
	    		<th>Price (in Euro) </th>
	    		<th>Seller</th>
	    		<th>Buyer</th>
	    		<th>Name of Product</th>
	    	<tr>
	    	<tr th:each="transaction : ${transactions}">
	    		<td th:text="${transaction.timeOfTransaction}">Unknown</td>
	    		<td th:text="${transaction.timeOfTransaction}">Unknown</td>
	    		<td th:text="${transaction.price}" class="number">Unknown</td>
	    		<td th:text="${transaction.seller}">Unknown</td>
	    		<td th:text="${transaction.buyer}">Unknown</td>
	    		<td th:text="${transaction.productName}">Unknown</td>
	    	</tr>
    	</table>
    </div>
  </body>
</html>