<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Second-Hand Shop | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Karla&family=Readex+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style/style.css">
  </head>
  <body>
    <header id= main_header>
        <a href="/"> <h1 id="logo">Second-Hand</h1> </a>
        <div class=navbar_container>
          <div class="menu_options">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
          </div>
          <div class="buttons" id="buttons" th:if="not ${loggedin}">
            <button type="button" class="login_button" onclick="location.href='../login'">Login</button>
          </div>
          <div class="buttons" id="buttons" th:if="${loggedin}">
        		<button type="submit" class="login_button" onclick="location.href='../myprofile'">My profile</button>
        		<button type="submit" class="login_button" onclick="location.href='/logout-user'">Log Out</button>
        	</div>
      </header>

       <div class="search_area" >
              <h1 class="title">Search</h1>
              <div class="search">
              
              <form th:action="@{/search}" method="get">
              	<input id=keyword type="text" placeholder="Search..." name="keyword" th:value=${keyword}>
                <button type="submit">Quick Search</button>
              </form>
              
              <button id="advanced_btn">Advanced Search</button>
              <form th:action="@{/search-category}" method="get">              
               
               <div id="advanced_search" style="display:none; ">
	  
		            <select id="category" name="category">
		             <option value="" selected disabled hidden>Search by category</option>
		              <option value="Cars and Motorcycles">Cars and Motorcycles</option>
		              <option value="Clothing, accessories and make-up">Clothing, accessories and make-up</option>
		              <option value="Electronics">Electronics</option>
		              <option value="Sports and Outdoor equipment">Sports and Outdoor equipment</option>
		              <option value="Consoles and Video games">Consoles and Video games</option>
		              <option value="Bikes">Bikes</option>
		              <option value="Home, office and garden">Home, office and garden</option>
		              <option value="Home appliances">Home appliances</option>
		              <option value="Movies, books and music">Movies, books and music</option>
		              <option value="For childeren and babies">For childeren and babies</option>
		              <option value="Collectables">Collectables</option>
		              <option value="Other">Other</option>
		            </select>

		          <button type=submit>Search by category</button>
	          	</div>
	          	
                </form>
                
              </div>
            </div>
            
           <div class="searchResults" th:each="product : ${searchResults}">
               <h3 class="title" th:text="${product.title}"></h3>
               <p class="category"><span th:text="${product.category}">default category</span></p>
               <p class="price"><span th:text="${product.price}">default price</span></p>
           </div>
             
   
          <footer>
            <div class="footer_small">
              <div class="content_left">
                <h1 id="logo_footer">Second-Hand</h1>
              </div>
              <div class="content_middle">
                <a href="link">FAQ</a>
                <a href="link">Privacy Policy</a>
              </div>
            </div>

            <div class="content_right">
              <div>
                <h4>Follow us!</h4>
              </div>
              <div>
                  <a href="#" class="fa fa-facebook"></a>
                  <a href="#" class="fa fa-instagram"></a>
              </div>
            </div>
          </footer>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
          <script src="script/script.js"></script>
  </body>
</html>
