<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Second-Hand Shop | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Karla&family=Readex+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style/style.css">
  </head>
  <body>

<div class="header-logged">
  <header id= main_header>
      <a href="index-loggedin.html"> <h1 id="logo">Second-Hand</h1></a>
      <div class=navbar_container>
        <div class="menu_options">
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
        </div>
        <div class="buttons" id="buttons">
       		<button type="submit" class="login_button" onclick="location.href='../myprofile'">My profile</button>
       		<button type="submit" class="login_button" onclick="th:action='@{/logout-user}'">Log Out</button>
       	</div>
    </header>
</div>

      <div class="banner">
        <img id="banner-image" src="images/banner.jpg" alt="main banner" >
        <div class="centered_text"><h1>Find The Best Quality Second Hand Products</h1></div>
      </div>


          <div class="search_area">
              <h1 class="title">Search</h1>
              <div class="search">
                <input id=search type="text" placeholder="Search..." name="search" >
                <button type="submit">Quick Search</button>
                <button type="submit">Advanced Search</button>
              </div>
            </div>

          <section class="products">
          <h1>Latest Products</h1>

          <div id = "gallery" class="image_gallery">

            <div class="image-container" >
             <img class= "image" src="images/chair.jpg" alt="" >
              <div class="description-container">
                  <h3 class="title" >Product1</h3>
                  <p class="category">category</p>
                  <p class="description">description</p>
                  <p class="price">price</p>
              </div>
            </div>


            <div class="image-container" >
             <img class= "image" src="images/bed.jpg" alt="" >
              <div class="description-container">
                  <h3 class="title" >Product1</h3>
                  <p class="category">category</p>
                  <p class="description">description</p>
                  <p class="price">price</p>
              </div>
            </div>


             <div class="image-container" >
              <img class= "image" src="images/chair.jpg" alt="">
               <div class="description-container">
                   <h3 class="title" >Product1</h3>
                   <p class="category">category</p>
                   <p class="description">description</p>
                   <p class="price">price</p>
               </div>
             </div>
          </div>

        </section>

          <footer>
            <div class="footer_small">
              <div class="content_left">
                <h1 id="logo_footer">Second-Hand</h1>
              </div>
              <div class="content_middle">
                <a href="link">FAQ</a>
                <a href="link">Privacy Policy</a>
              </div>
            </div>

            <div class="content_right">
              <div>
                <h4>Follow us!</h4>
              </div>
              <div>
                  <a href="#" class="fa fa-facebook"></a>
                  <a href="#" class="fa fa-instagram"></a>
              </div>
            </div>
          </footer>


  </body>
</html>