<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Product</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Karla&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style/style.css">
  </head>

  <body>
    <header id= main_header>
        <a href="/"> <h1 id="logo">Second-Hand</h1> </a>
        <div class=navbar_container>
          <div class="menu_options">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
          </div>
          <div class="buttons" id="buttons">
            <button type="button" class="login_button" >Login</button>
          </div>
      </header>

      <div class="product-container">
                    <div class="product-image-container" >
                     <img class= "product-image" src="images/chair.jpg" alt="" >
                      <div class="description-container">
                          <h3 class="title" >Chair</h3>
                          <p class="description">Description:</p>
                          <p class="category">Category:</p>
                          <p class="Status">Status: Available</p>
                          <div class="price">
                          <p>Price: €40,00</p>
                          </div >

                      </div>
                      <div class="buy-button">
                          <button class="btn" type="button" name="buy">Buy</button>
                      </div>
                    </div>

                  </div>


      <footer>
        <div class="footer_small">
          <div class="content_left">
            <h1 id="logo_footer">Second-Hand</h1>
          </div>
          <div class="content_middle">
            <a href="link">FAQ</a>
            <a href="link">Privacy Policy</a>
          </div>
        </div>

        <div class="content_right">
          <div>
            <h4>Follow us!</h4>
          </div>
          <div>
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-instagram"></a>
          </div>
        </div>
      </footer>
  </body>
</html>
